.app{
    background-color: var(--blue-color);
}

.app__flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__flex-space {
    display: flex;
    justify-content: space-between;
 
}
button {
    font-size: 20px;
    width: 100px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


