.update-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        
            background-color: #ffff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                width: 600px;
                height: 800px;
                // margin: 5rem 0rem 2rem 12rem;
                margin: 0 auto;
                margin-top: 10rem;
                border-radius: 20px;
    h1{
        color: black;
    margin-top: 2rem;
    }
    
                input{
        width: 300px;
                    // color: white;
                // background-color: #ffff;
                    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }   

    @media screen and (max-width:500px) {
        width: 350px;
        height: 600px;
        margin: 0 auto;
        margin-top: 2rem;

        input{
            font-size: 12px;

        }
        h1{
            font-size: 20px;
        }
    }
}
.title{
    position: absolute;
  top:0;
  margin-top: 1rem;
}

 .youel {
     list-style: none;
     display: flex;

     li {
         padding: 10px 30px;
         color: black;
         cursor: pointer;
     }
 }

 .dropdownmenu {
     position: relative;
     cursor: pointer;
     display: flex;
     transition: all 0.3s ease;
     margin-bottom: 1rem;
     // margin: 2rem 2rem 2rem 2rem;
 }
 .dropdownmenu ul li{
color: white;
 }
 .dropdownmenu ul li:hover {
     color: rgb(121, 114, 114);
 }

 .dropdown-menu {

     display: none;


 }

 .dropdown-icon {
     transition: all 0.3s ease;

 }

 .dropdownmenu ul li:hover .dropdown-menu {
     display: block;
     position: absolute;
     z-index: 1;
     border-radius: 10%;
     cursor: pointer;
     left: 0;
     top: 10;

     background-color: #ffff;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);


 }
 input {
    
     font-size: 25px;
     // border-radius: 5px;
     border: none;
     border-bottom: 2px solid silver;
     position: relative;

 }
 button{
 display: block;
 }

 .btn__submit{
    background-color: #26389E;
    color: white;
    padding: 10px;
 }