.center{
margin-top: 10rem;
margin-bottom: 7rem;
}
h5{
    margin-top: 1rem;
}

.file-upload{
    margin-bottom: 0.5rem;
}
.form-style-2 {

    border-radius: 10%;
    padding: 5rem 10rem 10rem 10rem;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}


    .youel{
        list-style: none;
        display: flex;


    }
    .dropdownmenu{
        position: relative;
        cursor: pointer;
        display: flex;
        transition: all 0.3s ease;
        // margin: 2rem 2rem 2rem 2rem;
                li {
                        text-decoration: none;
                        padding: 10px 30px;
                        color: black !important;
                        cursor: pointer;
                    }
    }
.dropdownmenu ul li:hover {
    color:rgb(121, 114, 114);
}
    .dropdown-menu{

        display: none;


    }
        .dropdown-icon{
            transition: all 0.3s ease;
         
        }
    .dropdownmenu ul li:hover .dropdown-menu {
            display: block;
            position: absolute;
        z-index: 1;
            border-radius: 10%;
            cursor: pointer;
            left: 0;
            top: 10;
        
            background-color: #ffff;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    

    }
        input {
            font-size: 25px;
            // border-radius: 5px;
            border: none;
            border-bottom: 2px solid silver;
            position: relative;
    
        }
     
select:focus {
    outline: none;
}