.center{
margin-top: 10rem;
}
h5{
    margin-top: 1rem;
}

.file-upload{
    margin-bottom: 0.5rem;
}
.form-style-2 {

    border-radius: 10%;
    padding: 5rem 10rem 10rem 10rem;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);}