

.more-wrapper{
 display: flex;   
 justify-content: center;
 align-items: center;
    background-color: #ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 6rem 2rem 0rem 2rem;
    border-radius: 10px;
  
  
  
  
    @media screen and (max-width: 600px) {
        flex-direction: column;

        .about-img{ 
                width:300px;
          object-fit: contain;
            
        }
        // input{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }
                .delete-btn-div{
                    margin: 0 auto;
                }
                .update-btn-div{
                    margin: 0 auto;
                }
    }
                @media screen and (min-width: 990px) {
                    flex-direction: column;
        
                    .about-img {
                        width: 600px;
                        object-fit: contain;
        
                    }
        
                    // input{
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    // }
                }
}


.about-img{
    width: 400px;
    height: 300px;
    margin: 2rem 2rem 2rem 2rem;
object-fit: contain;
@media screen and (max-width: 550px) {
    width: 100px;
    height: 200px;
}
}

.more-inside__wrapper{
margin: 2rem 2rem 2rem 2rem;
}
.h1-center{
    text-align: center;
}

.message-div{
    display: flex;
    button{
        margin-left: 0.2rem;
    }
}
.message-list{
    display: flex;
    flex-direction: column;
}
.image-div{
    position: relative;
}
.buttons {
    display: flex;
   margin-bottom: 1rem; 

}
.delete-btn-div{
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;

}
        .delete-btnn {
            background-color: red;
  
        color:#ffff;
        width: 100px;
        height: 40px;
        margin-right: 1rem;
            
        }
.delete-btn{
    font-size: 20px;
    color: white;
        cursor: pointer;
    margin-right: 27rem;
@media screen and (min-width: 1000px) {
    margin-top: 17rem;
    margin-right: 0rem;
}
}
.update-btn{
    font-size: 22px;
    cursor: pointer;
@media screen and (min-width: 1000px) {
        margin-top: 17.3rem;
        margin-right: 0rem;
    
    }
 
}
.update-btn-div{
        display: flex;
        margin: 0 auto;
            margin-bottom: 2rem;
            button{
                margin-left: 1rem;
                color: white;
background-color: blue;
            }
         
}

.more__info-text{
text-align: center;

}

.small__headline{

    font-weight: 600;
    
    font-size: 22px;
}