.navbar-wrapper{
    height: 50px;

    background-color: #ffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
z-index: 1000;
    }

.h-text{
line-height: 50px;
font-weight: 800;
text-transform: uppercase;
cursor: pointer;
margin-left: 0.5rem;
}

.list-wrap{
    display: flex;

ul{
    overflow: hidden;
  li{
 margin-right: 6rem;
  }
}

    ul{
        display: flex;
        // justify-content: space-between;

        li{
            display: flex;
        
            text-decoration: none;
            list-style: none;
            margin-left: 5rem;
            line-height: 50px;
            cursor: pointer;
        }
    }
    @media screen and (max-width:1015px) {
        display:none;
    }
}
a{
    text-decoration: none;
    color: black;
}

.eduvos-img{
    width: 100px;
    margin-top: .4rem;
    margin-left: 0.2rem;
}
.ham-menu{
    z-index: 1;
    line-height: 50px;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    background-color:#ffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
    border-radius:50%;
    margin-top: 0.5rem;



svg{
transition: all 0.7s ease-in-out;
        height: 20px;
            width: 20px;
           
&:hover {
        transform: rotate(90deg);
    }

        }
 
@media screen and (min-width:1016px) {

    display: none;


}
    }
.cross-menu{
position: absolute;
right:0;
z-index: 10;
 @media screen and (min-width:1016px) {
    display: none;
 }
}
.app__navbar-small {

z-index: 1;
        height: 1000px;
        width: 100%;
        background-color: #ffff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;

position: relative;

div{
    display: flex;
    flex-direction: column;
    position: absolute;  
// background-color: #ffff;
//     box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    bottom: 50;
    right:0;
    height: 400px;
    width: 400px;

    



}


@media  screen and (min-width:1016px) {
    display: none;
}

@media screen and (max-width:500px) {
.list-small{
    margin-left: 10rem;
}
   
}

}
.list-small{
    margin-top: 4rem;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    li{
        margin-top: 2rem;
    }
}

    

.link-router{
   list-style: none;
   text-decoration: none; 
   color:black
}

.signed-in{
    font-size: 12px;
  margin-top: 0.8rem;
}

.input__nav {
    margin-right: 1rem;
        font-size: 25px;
        height: 40px;
        margin-top: 0.5rem;
          width: 100px;
          border: 1px solid black;
            // border: none;
            // border-bottom: 2px solid silver;
            // position: relative;
}
.navbar__search{
    margin-top: 1.5rem;
    cursor: pointer;
}

// input:focus {
//     outline: none;
//     font-size: 12px;
    
// }
@media screen and (min-width:1400px) {
    .list-wrap{
        margin-right: 30rem;
    }
}